.country-image-wrapper {
	display: inline;
	height: 11px;	
	padding-right: 5px;
	width: 16px;	
}

.language-tunnel-wrapper {
	text-align: center;
}

li {
	list-style: none;
}

.hide-element {
	display: none;
}

.country-select-container {
	display: none;
}

.hidden {
	display: none;
}

.show-field {
	display: inline;
}

.country-list {
	display: inline;
	padding: 0 3%;
}

.region-section-wrapper {
	min-width: 800px;
}

.region-image-wrapper {
	height: 70px;	
	width: 70px;
}

.open-symbol {
	display: none;
}

.the-logo {
	display: inline;
	padding-top: 150px;
}

.upper-language-region {
	border-bottom: 1px;
	border-style: solid;
}

.location-select {
	font-size: 35px;
	padding-top: 10px;
}

button {
	border: none;
	background-color: white;
}

@media (max-width: 600px) {
	.open-symbol {
		display: inline;
		float: right;
	}
	
	.language-tunnel-wrapper {
		text-align: none;
	}
	
	.location-select {
		font-size: 20px;
		padding-top: 10px;
	}
	
	.region-section-wrapper {
    border-top: 1px;
    border-style: solid;
    margin-top: 40px;
		min-width: 150px;
	}
	.the-logo {
		display: inline;
		padding-top: 20px;
	}
  .region-image-wrapper {
    display: none;
  }
  
  .upper-language-region {
		border: none;
	}
  
  .country-list {
  	border-bottom: 1px;
  	border-color: gray;
  	border-style: solid;
  	display: block;
  	text-align: left;
  }
}